@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');

body{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family:'Hind Siliguri', sans-serif;
}

#container{
    border:black solid 0.5vmin;
    padding: 1vmin;
    border-radius: 2vmin;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    text-align:center;
    width: fit-content;
    height: fit-content;
}


#genius{
    display: grid;
    background-color: black;
    border: black solid 1vmax;
    grid-template-areas: "red blue" "green yellow";
    justify-content:center;
    border-radius: 100%;
    overflow: hidden;
    width: fit-content;
    height: fit-content;
    grid-gap: 1vmax;
}
.tile{
    width: 18vh;
    height: 18vh;
}
#red{
    background-color:red;
    grid-area:"red";
}
#blue{
    background-color:blue;
    grid-area:"blue";
}
#green{
    background-color:green;
    grid-area:"green";
}
#yellow{
    background-color:yellow;
    grid-area:"yellow";
}
.tile:active{
    transform: scale(1.1);
    opacity: 0.7;
}

.selected{
    transform: scale(1.1);
    opacity: 0.7;
}
legend{
font-size: 4vmax;
}
button{
    width:fit-content;
    margin:2vmax;
    padding: 1vmax;
    color:black;
    font-weight: bold;
    font-family:'Hind Siliguri', sans-serif;
    font-size: 1.5vmax;
    border-radius: 1vmin;
}
